* {
    margin: 0;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.white {
    color: white;
}

div.header {
    background-color: brown;
    padding: 20px;
}